In [2]:
import os
import sys

os.environ["SPARK_HOME"]=os.path.join(os.path.expanduser("~"),'spark-2.0.0-bin-hadoop2.7')
os.environ["PYLIB"]=os.path.join(os.environ["SPARK_HOME"],'python','lib')
sys.path.insert(0,os.path.join(os.environ["PYLIB"],'py4j-0.10.1-src.zip'))
sys.path.insert(0,os.path.join(os.environ["PYLIB"],'pyspark.zip'))

In [3]:
import pyspark
myConf=pyspark.SparkConf()
spark = pyspark.sql.SparkSession.builder\
    .master("local")\
    .appName("myApp")\
    .config('spark.sql.warehouse.dir','C:\Users\qorgk\code\spark')\
    .getOrCreate()

In [4]:
print spark.version

2.0.0

In [7]:
Df = spark.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load('data/publicBike.csv')

In [8]:
Df.show()
Df.printSchema()

+--------------------+-----+
|              �뿩����|�뿩�Ǽ�|
+--------------------+-----+
|2018-01-01 00:00:...| 4950|
|2018-01-02 00:00:...| 7136|
|2018-01-03 00:00:...| 7156|
|2018-01-04 00:00:...| 7102|
|2018-01-05 00:00:...| 7705|
|2018-01-06 00:00:...| 5681|
|2018-01-07 00:00:...| 5220|
|2018-01-08 00:00:...| 6309|
|2018-01-09 00:00:...| 5988|
|2018-01-10 00:00:...| 4476|
|2018-01-11 00:00:...| 4337|
|2018-01-12 00:00:...| 4401|
|2018-01-13 00:00:...| 3756|
|2018-01-14 00:00:...| 4675|
|2018-01-15 00:00:...| 6993|
|2018-01-16 00:00:...| 7421|
|2018-01-17 00:00:...| 6990|
|2018-01-18 00:00:...| 7054|
|2018-01-19 00:00:...| 8329|
|2018-01-20 00:00:...| 6148|
+--------------------+-----+
only showing top 20 rows

root
 |-- �뿩����: timestamp (nullable = true)
 |-- �뿩�Ǽ�: integer (nullable = true)

In [9]:
Df=Df.withColumnRenamed('�뿩����','date')
Df=Df.withColumnRenamed('�뿩�Ǽ�','count')

In [10]:
Df.show()
Df.printSchema()

+--------------------+-----+
|                date|count|
+--------------------+-----+
|2018-01-01 00:00:...| 4950|
|2018-01-02 00:00:...| 7136|
|2018-01-03 00:00:...| 7156|
|2018-01-04 00:00:...| 7102|
|2018-01-05 00:00:...| 7705|
|2018-01-06 00:00:...| 5681|
|2018-01-07 00:00:...| 5220|
|2018-01-08 00:00:...| 6309|
|2018-01-09 00:00:...| 5988|
|2018-01-10 00:00:...| 4476|
|2018-01-11 00:00:...| 4337|
|2018-01-12 00:00:...| 4401|
|2018-01-13 00:00:...| 3756|
|2018-01-14 00:00:...| 4675|
|2018-01-15 00:00:...| 6993|
|2018-01-16 00:00:...| 7421|
|2018-01-17 00:00:...| 6990|
|2018-01-18 00:00:...| 7054|
|2018-01-19 00:00:...| 8329|
|2018-01-20 00:00:...| 6148|
+--------------------+-----+
only showing top 20 rows

root
 |-- date: timestamp (nullable = true)
 |-- count: integer (nullable = true)

In [11]:
split_col = pyspark.sql.functions.split(Df['date'], '-')
Df = Df.withColumn('year', split_col.getItem(0))

In [12]:
Df.show()
Df.printSchema()

+--------------------+-----+----+
|                date|count|year|
+--------------------+-----+----+
|2018-01-01 00:00:...| 4950|2018|
|2018-01-02 00:00:...| 7136|2018|
|2018-01-03 00:00:...| 7156|2018|
|2018-01-04 00:00:...| 7102|2018|
|2018-01-05 00:00:...| 7705|2018|
|2018-01-06 00:00:...| 5681|2018|
|2018-01-07 00:00:...| 5220|2018|
|2018-01-08 00:00:...| 6309|2018|
|2018-01-09 00:00:...| 5988|2018|
|2018-01-10 00:00:...| 4476|2018|
|2018-01-11 00:00:...| 4337|2018|
|2018-01-12 00:00:...| 4401|2018|
|2018-01-13 00:00:...| 3756|2018|
|2018-01-14 00:00:...| 4675|2018|
|2018-01-15 00:00:...| 6993|2018|
|2018-01-16 00:00:...| 7421|2018|
|2018-01-17 00:00:...| 6990|2018|
|2018-01-18 00:00:...| 7054|2018|
|2018-01-19 00:00:...| 8329|2018|
|2018-01-20 00:00:...| 6148|2018|
+--------------------+-----+----+
only showing top 20 rows

root
 |-- date: timestamp (nullable = true)
 |-- count: integer (nullable = true)
 |-- year: string (nullable = true)

In [14]:
Df.groupBy('year').sum('count').show()

+----+----------+
|year|sum(count)|
+----+----------+
|2019|   1871935|
|2018|  10124874|
+----+----------+

###### 년도별 따릉이 대여건수 합계를 계산한 결과
2018년은 10124874건, 2019년은 1871935건 대여됐다는 것을 알 수 있었다.